:root{
    /*Font Colors*/
    --primary-fColor: #fff;

    /*Background Colors*/
    --primary-bgColor: rgb(205, 205, 205);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
html {
    background-color: var(--primary-bgColor);
    color: var(--primary-fColor);
}

body div.container main section.gallery ul.gallery-conatiner {
    display: flex;

    & li {
        height: 200px;
        aspect-ratio: 6/2;
    }
}